<!-- Start Page Header area -->
	<div id="mu-page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-page-header-area">
						<h1 class="mu-page-header-title">{{ "ABOUT_US" | translate}}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Page Header area -->

	<!-- Start Breadcrumb -->
	<div id="mu-breadcrumb">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav aria-label="breadcrumb" role="navigation">
					  <ol class="breadcrumb mu-breadcrumb">
					    <li class="breadcrumb-item"><a routerLink="/home">{{ "HOME" | translate}}</a></li>
					    <li class="breadcrumb-item active" aria-current="page">{{ "ABOUT_US" | translate}}</li>
					  </ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumb -->

	
	<!-- Start main content -->
	<main>
	<!-- Start About -->
	<section id="mu-about">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-about-area">
						<!-- Title -->
						<div class="row">
							<div class="col-md-12">
								<h2 class="text-center">{{"ABOUT.WHO_WE_ARE" | translate}}</h2>
							</div>
					    </div>
						<div class="row">
							<div class="col-md 6">
								<img src="./assets/images/about_medyfi.jpg" class="img-fluid">
							</div>
							<div class="col-md-6">
								<div class="text-justify">
									<p>{{"ABOUT.PARAGRAPH_1" | translate}}.</p>
									<p>{{"ABOUT.PARAGRAPH_2" | translate}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End About -->
  </main>
