<footer id="mu-footer">
	<div class="mu-footer-top">
		<div class="container">
			<div class="row">
				
				<div class="col-md-4 offset-md-4" id="centered">
					<div class="mu-single-footer">
						<h3 class="text-center">{{"CONTACT" | translate}} {{ "INFORMATION" | translate}}</h3>
						<ul class="list-unstyled">
						  <li class="media">
						    <span class="fa fa-home"></span>
						    <div class="media-body">
						    	<p>349 Main St, Deseronto, ON K0K 1X0, Canada</p>
						    </div>
						  </li>
						  <li class="media">
						    <span class="fa fa-phone"></span>
						    <div class="media-body">
						       <p>+00 123 456 789 00</p>
						     	<p>+ 00 254 632 548 00</p>
						    </div>
						  </li>
						  <li class="media">
						    <span class="fa fa-envelope"></span>
						    <div class="media-body">
						     <p>support@bhero.com</p>
						     <p>help.behero@gmail.com</p>
						    </div>
						  </li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 offset-md-4" id="centered">
					<div class="mu-single-footer">
						<div class="mu-social-media text-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a class="mu-twitter" href="#"><i class="fa fa-twitter"></i></a>
							<a class="mu-pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
							<a class="mu-google-plus" href="#"><i class="fa fa-google-plus"></i></a>
							<a class="mu-youtube" href="#"><i class="fa fa-youtube"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mu-footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-footer-bottom-area">
						<p class="mu-copy-right">&copy; {{"COPYRIGHT" | translate}} Medyfi 2020. {{"ALL_RIGHT_RESERVED" | translate}}.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
